.nav-bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            margin: -30px;
            width: 150px;
            height: auto;

        }
    }
}

nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 310px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        i {
            transition: all 0.3s ease-out;
        }

        &:hover {
            color: #c0a716;

            svg {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            font-size: 8px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        &:first-child {
            &::after {
                content: 'HOME';
            }
        }
    }

    a.about {
        &:after {
            content: 'ABOUT';
        }
    }

    
    a.work {
        &:after {
            content: 'WORK';
        }
    }

    a.projects {
        &:after {
            content: 'PROJECTS';
        }
    }

     a.certifications {
        &:after {
            content: 'CERTS';
        }
    }

    a.contact {
        &:after {
            content: 'CONTACT';
        }
    }

    a.active {
        svg {
            color: #c0a716
        }
    }
}

ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
        a {
            padding: 7px 0;
            display: block;
            font-size: 15px;
            line-height: 16px;

            &:hover svg {
                color: #ffd700;
            }
        }
    }
}